.oque {
    color: #000279;
    text-align: justify;
    padding: 0 16px;
    margin: 24px;
}

.porque {
    background-color: #9999ff;
    padding: 24px 16px;
    margin: 24px;
    border-radius: 12px;
}

.videos-container {
    background-color: #9999ff;
    padding: 24px 16px;
    margin: 24px;
    border-radius: 12px;
}

.video {
    border: 2px solid #2f32db;
    border-radius: 12px;
    padding: 8px;
    height: 100%;
}

.videos-row {
    margin-bottom: 12px;
}

.video-box {
    margin-bottom: 12px;
}

.nome-sugest {
    color: #3a3ca3;
    margin-top: 20px;
}

html {
    background: #3a3ca3;
}

/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #3a3ca3;
    border-color: #3a3ca3;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #3a3ca3;
    border-color: #3a3ca3;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #3a3ca3;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.sugest {
    text-align: center;
}

.sugest button {
    margin-top: 20px;
}

.sugest button:hover {
    color: #3a3ca3;
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #3a3ca3 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #3a3ca3 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}