.spotlight-carousel {
    background-color: #9999ff;
    padding: 24px 16px;
    margin: 24px;
    border-radius: 12px;
}
#tela {
    background-color:#d3cccc ;

}
#cMsg{
    width:100%;
    height:200px;
}

.videos-container {
    background-color: #9999ff;
    padding: 24px 16px;
    margin: 24px;
    border-radius: 12px;
}

.video {
    border: 2px solid #2f32db;
    border-radius: 12px;
    padding: 8px;
    height: 100%;
}

.videos-row {
    margin-bottom: 12px;
}

.video-box {
    margin-bottom: 12px;
}

.content {
    margin-bottom: 2px
}

.news-item {
    margin: 16px 0;
}

.editorial > li {
    line-height: 2.5em;
    padding-top: 6px;
}

.editorial > li:before {
    content: "";
    margin-right: -16px;
}

.editorial > li > .fa-li {
    color: #2f32db;
    font-size: 1.5em;
    width: 40px;
    height: 40px;
    margin-left: 12px;
}

.social-link:link {
    text-decoration: none;
}

.social-icons {
    text-align: center;
}

.content {
    text-align: justify;
}

.about-text {
    text-align: justify;
    padding-right: 12px;
}


.social-box {
    height: 42px;
    width: 42px;
    margin: auto;
    margin-right: 12px;
    display: inline-block;
    border: 1.5px solid #2f32db;
    color: #2f32db;
    border-radius: 40%;
}

.social-box:hover {
    border: 1.5px solid #efefef;
    background-color: #2f32db;
    color: #efefef;
    border-radius: 36%;
}

.social-box > p{
    font-size: 32px;
    text-align: center;
    line-height: 38px;
}