html {
    height: 100%;
    width: 100%;
}

.logo {
    height: 90px;
    width: 150px;
}

.libera-header {
    background-color: #efefef;
    border-radius: 12px;
}

.menu {
    justify-content: space-around;
    padding: 0 32px;
}

.navbar-toggler {
    border-color: #3a3ca3 !important;
    color: #3a3ca3 !important;
}

.navbar-toggler-icon {
    color: #3a3ca3 !important;
}

.menuItens > .nav-link {
    color: #3a3ca3;
    margin: 0 8px;
}

.menuItens > .nav-link:hover {
    color: #2f32db;
}

/** Header - Barra de pesquisa **/

.search-bar {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.searchIcon {
    background-color: #efefef;
    color: #3a3ca3;
    border-color: #3a3ca3;
}

.searchIcon:hover {
    color: #3a3ca3;
    border-color: #3a3ca3;
}

.searchInput {
    background-color: #efefef !important;
    border-color: #3a3ca3;
    color: black !important;
}

.searchInput:focus {
    border-color: #3a3ca3 !important;
}

.searchIcon:focus {
    border-color: #3a3ca3;
}

.menu nav {
    align-items: center;
}

.title {
    text-align: center;
}

body {
    background: #3a3ca3;
    color: black;
    font-family: Georgia;
    font-size: 20px;
    height: 100%;
    width: 100%;
}

.header {
    background: #3a3ca3;
    padding: 16px 0;
    margin-bottom: 16px;
}

main {
    background: #efefef;
    border-radius: 12px;
    margin-bottom: 16px;
    padding: 16px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    color: #3a3ca3;
}

.footer {
    background: #3a3ca3;
    color: #efefef;
    width: 100%;
    text-align: center;
    padding: 24px;
}

.load-more {
    text-align: end;
}

.btn-load-more {
    color: #2f32db;
    border-color: #2f32db;
    margin-right: 12px;
}

.btn-load-more:hover {
    color: gainsboro;
    background-color: #2f32db;
}

.yt-video {
    margin: 12px 0;
}

/* Refernte ao compartilhamento */
.resp-sharing-button__link,
.resp-sharing-button__icon {
    display: inline-block
}

.resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin: 0.5em;
}

.resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.resp-sharing-button--facebook {
    background-color: #3b5998;
}

.resp-sharing-button--facebook:hover {
    background-color: #2d4373;
}

.resp-sharing-button--facebook {
    background-color: #3b5998;
    border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
    background-color: #2d4373;
    border-color: #2d4373;
}

.resp-sharing-button__icon {
    stroke: #fff;
    fill: none;
}

.resp-sharing-button__icon--solid {
    fill: #fff;
    stroke: none;
}

.resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: top;
}

.resp-sharing-button--twitter {
    background-color: #55acee;
}

.resp-sharing-button--twitter:hover {
    background-color: #2795e9;
}

.resp-sharing-button--twitter {
    background-color: #55acee;
    border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
    background-color: #2795e9;
    border-color: #2795e9;
}

.resp-sharing-button--whatsapp {
    background-color: #25D366;
}

.resp-sharing-button--whatsapp:hover {
    background-color: #1da851;
}

.resp-sharing-button--whatsapp {
    background-color: #25D366;
    border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
    background-color: #1DA851;
    border-color: #1DA851;
}