.spotlight-area {
    background-color: #9999ff;
    padding: 24px 16px;
    margin: 24px;
    border-radius: 12px;
}

.news-item {
    margin: 24px 0;
}
#tela {
    background-color:#d3cccc ;

}
#cMsg{
    width:80%;
    height:200px;
}
#descricao{
    text-align:center;
}
.lançamentos{
    text-align:center; 
} 
h2.titulo{
    color:#7171ce;
}
img.imagem{
    text-align:center;
}
h1.lancamentos{
    color:black;
    text-align:center;
    font-size: 60px;
}
/*rgb(139, 20, 139); */
#btnIncluirComentarios{
    background-color: rgb(64, 204, 30);
    color:white;
}
#btnCarregaDados{
background-color: #9999ff;
}