.oque {
    color: #000279;
    text-align: justify;
    padding: 0 16px;
    margin: 24px;
}
#tela {
    background-color:#d3cccc ;

}
#cMsg{
    width:100%;
    height:200px;
}

.porque {
    background-color: #9999ff;
    padding: 24px 16px;
    margin: 24px;
    border-radius: 12px;
}

.videos-container {
    background-color: #9999ff;
    padding: 24px 16px;
    margin: 24px;
    border-radius: 12px;
}

.video {
    border: 2px solid #2f32db;
    border-radius: 12px;
    padding: 8px;
    height: 100%;
}

.videos-row {
    margin-bottom: 12px;
}

.video-box {
    margin-bottom: 12px;
}

.libera-title {
    line-height: 2em;
    font-size: 64px;
    color: #1c1fc1;
    font-weight: 750
}

@media only screen and (max-width: 576px) {
    .libera-title {
        font-size: 52px;
        line-height: 1em;
        color: #1c1fc1;
        font-weight: 600
    }
}
#btnIncluirComentarios{
    background-color: rgb(64, 204, 30);
    color:white;
    font-weight:700;
    border:none;
    box-shadow: 0 5px 0  rgb(49, 146, 25);
}
#btnIncluirComentarios:hover{
    background-color: rgb(49, 146, 25);
    color:white;
    font-weight:700;
    border:none;
    box-shadow: 0 5px 0  rgb(32, 95, 16);
}
#btnIncluirComentarios:active{
    position: relative;
    top:5px;
    box-shadow: none;
}
#btnCarregaDados{
background-color: #9999ff;
font-weight:700;
border:none;
box-shadow: 0 5px 0 #6565be;
}
#btnCarregaDados:hover{
    background-color: #6565be;
    font-weight:700;
    border:none;
    box-shadow: 0 5px 0 #4c4c97;
    }
    #btnCarregaDados:active{
        position: relative;
        top:5px;
        box-shadow:none;
        }